<h2>Editar livro</h2>


<form action="/edit/save" method="POST">
    <input type="hidden" value="{{book.id}}" name="id">
    <div>
        <label for="">Título:</label>
        <input type="text" name="title" placeholder="Digite o título" id="title" value="{{book.title}}">
    </div>
    <div>
        <label for="">Número de páginas:</label>
        <input type="text" name="pageqty" placeholder="Quantas páginas o livro possui?" id="pageqty" value="{{book.pageqty}}">
    </div>

    <button type="submit">Enviar</button>
</form>